.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout__main {
  flex: 1;
  padding: 24px 16px 40px;
  max-width: 1120px;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .layout__main {
    padding-top: 32px;
  }
}
